<!DOCTYPE html>
<html>
<head>
  <title>Gorillo</title>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt|Slackey|Chelsea+Market|Comfortaa' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" href="noun_24744_cc.svg"/> -->
  <%= favicon_link_tag '/noun_24744_cc.svg' %>

</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
</body>
</html>
